.toolbarButton {
  background-image: url("editing_tool_bar.png");
  width:  24px;
  height: 24px;
  background-repeat: no-repeat;
}

.toolbarButtonDraw { 
  background-position: -77px 0px ;                                                                   
}

.olControlEditingToolbar { 
  background-image: url("editing_tool_bar.png");
  background-repeat: no-repeat;
  float:right;
  right: 0px;
  width:  24px;
  height: 24px;
  margin: 5px;
}
.olControlEditingToolbar .olControlNavigationItemActive { 
  background-position: -103px -23px; 
}
.olControlEditingToolbar .olControlNavigationItemInactive { 
  background-position: -103px -0px; 
}
.olControlEditingToolbar .olControlDrawFeaturePointItemActive { 
  background-position: -77px -23px; 
}
.olControlEditingToolbar .olControlDrawFeaturePointItemInactive { 
  background-position: -77px -0px; 
}
.olControlDrawFeaturePathItemInactive { 
  background-position: -51px 0px; 
}
.olControlDrawFeaturePathItemActive { 
  background-position: -51px -23px; 
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemInactive { 
  background-position: -26px 0px; 
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemActive { 
  background-position: -26px -23px ;                                                                   
}